<div class="container-fluid containerheader">
    <video autoplay="autoplay" loop="loop" src="assets/video/Sudha-milk.mp4" width="100%"></video>
</div>
    <div class="container mt-lg-5 mt-2 mb-3 contclass">
    <div class="row p-lg-4 p-2">
        <div class="col-lg-8 p-1">
            <div class="row milkrow">
                <div class="col-lg-5 p-md-3 p-5" data-aos="zoom-in-right" data-aos-duration="2100">
                    <div class="row rowmilkcont mt-3">
                        <div class="col-12 milkhead p-2">
                            <h5>Sudha Gold</h5>
                        </div>
                        <div class="col-12 milkimage mt-lg-3 mb-lg-2 p-2" routerLink="/milk/suhda-gold" (click)="exit()">
                            <img src="assets/images/gold.png" alt="" srcset="">
                        </div>
                        <div class="col-12 milkfoot p-2 mt-lg-3">
                            <h5>Pack Size : 200 ml Pouch,500 ml. Pouch</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5  mx-lg-5 p-md-3 p-5" data-aos="zoom-in-left" data-aos-duration="2100">
                    <div class="row rowmilkcont mt-3">
                        <div class="col-12 milkhead p-2">
                            <h5>Cow Milk</h5>
                        </div>
                        <div class="col-12 milkimage mt-lg-3 mb-lg-2 p-2" routerLink="/milk/cow-milk" (click)="exit()">
                            <img src="assets/images/cow.png" alt="" srcset="">
                        </div>
                        <div class="col-12 milkfoot p-2 mt-lg-3">
                            <h5>Pack Size : 200 ml Pouch,500 ml. Pouch</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 p-md-3 p-5" data-aos="zoom-in-right" data-aos-duration="2200">
                    <div class="row rowmilkcont mt-3">
                        <div class="col-12 milkhead p-2">
                            <h5>Sudha Heldi</h5>
                        </div>
                        <div class="col-12 milkimage mt-lg-3 mb-lg-2 p-2" routerLink="/milk/sudha-heldi" (click)="exit()">
                            <img src="assets/images/heldi.png" alt="" srcset="">
                        </div>
                        <div class="col-12 milkfoot p-2 mt-lg-3">
                            <h5>Pack Size : 200 ml Pouch,500 ml. Pouch</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5  mx-lg-5 p-md-3 p-5" data-aos="zoom-in-left" data-aos-duration="2200">
                    <div class="row rowmilkcont mt-3">
                        <div class="col-12 milkhead p-2">
                            <h5>Sakti</h5>
                        </div>
                        <div class="col-12 milkimage mt-lg-3 mb-lg-2 p-2" routerLink="/milk/sudha-shakti" (click)="exit()">
                            <img src="assets/images/shakti.png" alt="" srcset="">
                        </div>
                        <div class="col-12 milkfoot p-2 mt-lg-3">
                            <h5>Pack Size : 200 ml Pouch,500 ml. Pouch</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 p-md-3 p-5" data-aos="zoom-in-left" data-aos-duration="2300">
                    <div class="row rowmilkcont mt-3">
                        <div class="col-12 milkhead p-2">
                            <h5>Sudha Smart</h5>
                        </div>
                        <div class="col-12 milkimage mt-lg-3 mb-lg-2 p-2" routerLink="/milk/sudha-smart" (click)="exit()" >
                            <img src="assets/images/smart.png" alt="" srcset="">
                        </div>
                        <div class="col-12 milkfoot p-2 mt-lg-3">
                            <h5>Pack Size : 200 ml Pouch,500 ml. Pouch</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 quiclcol">
            <div class="row mt-lg-5 mt-3">
                <div class="col-12">
                    <h3>Quick Link</h3>
                    <hr>
                </div>
                
                <div class="col-12 quicklinkclass mt-2">
                     <ul>
                    <li class="p-2 px-0" routerLink="/milk-product" (click)="exit()">Milk Products
                    </li>
                </ul>   
                <hr>
                </div>
                
                <div class="col-12 mt-lg-4" data-aos="fade-up">
                    <img src="assets/images/milk2.jpg" width="100%" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>
</div>