<main id="main" class="main">
    <div class="pagetitle">
       <h1>Attendance</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Admin</a></li>
             <li class="breadcrumb-item active">Attendance Management</li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-12">
             <div class="card">
                <div class="card-body card-body-tble">
                   <h5 class="card-title">Attendance Management</h5>
                   <table class="table datatable">
                      <thead>
                         <tr>
                            <th scope="col">S.no</th>
                            <th scope="col">Employee Id</th>
                            <th scope="col">Employee Name</th>
                            <th scope="col">Attendance</th>
                            <th scope="col">Total Present</th>
                            <th scope="col">Total Absent</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <th scope="row">1</th>
                            <td>0121</td>
                            <td>Sameer</td>
                            <td>Present</td>
                            <td>22</td>
                            <td>21</td>
                           
                         </tr>
                         <tr>
                            <th scope="row">2</th>
                            <td>0121</td>
                            <td>Sanu</td>
                            <td>Absent</td>
                            <td>12</td>
                            <td>31</td>
                         </tr>
                         <tr>
                            <th scope="row">3</th>
                            <td>0121</td>
                            <td>Tushar</td>
                            <td>Present</td>
                            <td>32</td>
                            <td>11</td>
                         </tr>
                         <tr>
                            <th scope="row">4</th>
                            <td>0121</td>
                            <td>Vaibhav</td>
                            <td>Present</td>
                            <td>22</td>
                            <td>21</td>
                         </tr>
                         <tr>
                            <th scope="row">5</th>
                            <td>0121</td>
                            <td>Rahul</td>
                            <td>Absent</td>
                            <td>12</td>
                            <td>31</td>
                         </tr>
                         <tr>
                            <th scope="row">6</th>
                            <td>0121</td>
                            <td>Sashi</td>
                            <td>Present</td>
                            <td>12</td>
                            <td>31</td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>