<div class="container-fluid containerheader">
    <video autoplay="autoplay" loop="loop" src="assets/video/sudha-milk-products.mp4" width="100%"></video>
</div>
<div class="container mt-lg-5 mt-2 mb-3 contclass">
    <div class="row milkrow p-lg-4 p-2">
        <div class="col-lg-8 p-1">
            <div class="row milkrows">
                <div class="col-lg-5 p-md-3 p-5" data-aos="zoom-in-right" data-aos-duration="2000">
                    <div class="row rowmilkcont mt-3">
                        <div class="col-12 milkhead p-2">
                            <h5>Product Name: Peda</h5>
                        </div>
                        <div class="col-12 milkimage mt-lg-3 mb-lg-2 p-2" routerLink="/milk-product/peda" (click)="exit()">
                            <img src="assets/images/peda.jpg" alt="" srcset="" class="img-responsive img-circle">
                        </div>
                        <div class="col-12 milkfoot p-2 mt-lg-3">
                            <h5>Pack Size : 100gm, 250gm.</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5  mx-lg-5 p-md-3 p-5" data-aos="zoom-in-left" data-aos-duration="2000">
                    <div class="row rowmilkcont mt-3">
                        <div class="col-12 milkhead p-2">
                            <h5>Product Name: Plain Dahi</h5>
                        </div>
                        <div class="col-12 milkimage mt-lg-3 mb-lg-2 p-2" routerLink="/milk-product/plain-dahi" (click)="exit()">
                            <img src="assets/images/dahi.jpg" alt="" srcset="" class="img-responsive img-circle">
                        </div>
                        <div class="col-12 milkfoot p-2 mt-lg-3">
                            <h5>Pack Size : 200 gm, 400gm, 2 kg jar, 5kg jar, 18kg jar</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 p-md-3 p-5" data-aos="zoom-in-right" data-aos-duration="2100">
                    <div class="row rowmilkcont mt-3">
                        <div class="col-12 milkhead p-2">
                            <h5>Product Name: Paneer</h5>
                        </div>
                        <div class="col-12 milkimage mt-lg-3 mb-lg-2 p-2" routerLink="/milk-product/paneer" (click)="exit()">
                            <img src="assets/images/paneer.jpg" alt="" srcset="" class="img-responsive img-circle">
                        </div>
                        <div class="col-12 milkfoot p-2 mt-lg-3">
                            <h5>Pack Size :200gm, 500gm</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 mx-lg-5 p-md-3 p-5" data-aos="zoom-in-left" data-aos-duration="2100">
                    <div class="row rowmilkcont mt-3">
                        <div class="col-12 milkhead p-2">
                            <h5>Product Name: Ghee</h5>
                        </div>
                        <div class="col-12 milkimage mt-lg-3 mb-lg-2 p-2" routerLink="/milk-product/ghee" (click)="exit()">
                            <img src="assets/images/ghee.jpg" alt="" srcset="" class="img-responsive img-circle"
                                height="100" width="200">
                        </div>
                        <div class="col-12 milkfoot p-2 mt-lg-3">
                            <h5>Pack Size : 200 ml Pouch,500 ml. Pouch, 15 KgTin</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 p-md-3 p-5" data-aos="zoom-in-right" data-aos-duration="2200">
                    <div class="row rowmilkcont mt-3">
                        <div class="col-12 milkhead p-2">
                            <h5>Product Name:Rassogulla</h5>
                        </div>
                        <div class="col-12 milkimage mt-lg-3 mb-lg-2 p-2" routerLink="/milk-product/rasgulla" (click)="exit()">
                            <img src="assets/images/rassogula.png" alt="" srcset="" class="img-responsive img-circle">
                        </div>
                        <div class="col-12 milkfoot p-2 mt-lg-3">
                            <h5>Pack Size : 100g, 500g ,500g Tin,and ,1kg Tin, 5kg jar, 10kg jar.</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 mx-lg-5 p-md-3 p-5" data-aos="zoom-in-left" data-aos-duration="2200">
                    <div class="row rowmilkcont mt-3">
                        <div class="col-12 milkhead p-2">
                            <h5>Product Name:Gulab-Jamun</h5>
                        </div>
                        <div class="col-12 milkimage mt-lg-3 mb-lg-2 p-2" routerLink="/milk-product/gulab-jamun" (click)="exit()">
                            <img src="assets/images/gulab.jpg" alt="" srcset="" class="img-responsive img-circle">
                        </div>
                        <div class="col-12 milkfoot p-2 mt-lg-3">
                            <h5>Pack Size : 100g, 250g, 500g ,500 g Tin, 1kg Tin, 5 kg jar, 10kg jar.</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 p-md-3 p-5" data-aos="zoom-in-right" data-aos-duration="2300">
                    <div class="row rowmilkcont mt-3">
                        <div class="col-12 milkhead p-2">
                            <h5>Product Name:Balushahi</h5>
                        </div>
                        <div class="col-12 milkimage mt-lg-3 mb-lg-2 p-2" routerLink="/milk-product/balushahi" (click)="exit()">
                            <img src="assets/images/balushahi2.jpg" alt="" srcset="" class="img-responsive img-circle">
                        </div>
                        <div class="col-12 milkfoot p-2 mt-lg-3">
                            <h5>Pack Size : 250gm,1kg Tin</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 mx-lg-5 p-md-3 p-5" data-aos="zoom-in-left" data-aos-duration="2300">
                    <div class="row rowmilkcont mt-3">
                        <div class="col-12 milkhead p-2">
                            <h5>Product Name: Sudha Kalakand</h5>
                        </div>
                        <div class="col-12 milkimage mt-lg-3 mb-lg-2 p-2" routerLink="/milk-product/sudha-kalakand" (click)="exit()">
                            <img src="assets/images/kalakand.jpg" alt="" srcset="" class="img-responsive img-circle">
                        </div>
                        <div class="col-12 milkfoot p-2 mt-lg-3">
                            <h5>Pack Size : 100gm, 250gm.</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 p-md-3 p-5" data-aos="zoom-in-right" data-aos-duration="2400">
                    <div class="row rowmilkcont mt-3">
                        <div class="col-12 milkhead p-2">
                            <h5>Product Name: Sudha Misti Doi</h5>
                        </div>
                        <div class="col-12 milkimage mt-lg-3 mb-lg-2 p-2" routerLink="/milk-product/sudha-misti-doi" (click)="exit()">
                            <img src="assets/images/doi.jpg" alt="" srcset="" class="img-responsive img-circle">
                        </div>
                        <div class="col-12 milkfoot p-2 mt-lg-3">
                            <h5>Pack Size : 100gm Cup.</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 mx-lg-5 p-md-3 p-5" data-aos="zoom-in-left" data-aos-duration="2400">
                    <div class="row rowmilkcont mt-3">
                        <div class="col-12 milkhead p-2">
                            <h5>Product Name: Sudha Raskadam</h5>
                        </div>
                        <div class="col-12 milkimage mt-lg-3 mb-lg-2 p-2" routerLink="/milk-product/sudha-raskadam" (click)="exit()">
                            <img src="assets/images/rus.jpg" alt="" srcset="" class="img-responsive img-circle">
                        </div>
                        <div class="col-12 milkfoot p-2 mt-lg-3">
                            <h5>Pack Size : 250gm tray under covered with monobox.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 quiclcol">
            <div class="row mt-lg-5 mt-3">
                <div class="col-12">
                    <h3>Quick Link</h3>
                    <hr>
                </div>

                <div class="col-12 quicklinkclass mt-2">
                    <ul>
                        <li class="p-2 px-0" routerLink="/milk" (click)="exit()">Milk
                        </li>
                    </ul>
                    <hr>
                </div>

                <div class="col-12 mt-lg-4" data-aos="fade-up">
                    <img src="assets/images/milk2.jpg" width="100%" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>
</div>