<main id="main" class="main">
    <div class="pagetitle">
       <h1>Role Management</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Admin</a></li>
             <li class="breadcrumb-item active">Role Management</li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-12">
             <div class="card">
                <div class="card-body card-body-tble">
                   <h5 class="card-title">Role Management</h5>
                   <button type="button" class="btn btn-primary mb-3 mx-0" >Add New Role</button>
                   <table class="table datatable">
                      <thead>
                         <tr>
                            <th scope="col">S.no</th>
                            <th scope="col">Role Id</th>
                            <th scope="col">Role</th>
                            <th scope="col">Created Date</th>
                            <th scope="col">Remark</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <th scope="row">1</th>
                            <td>0121</td>
                            <td>Super Admin</td>
                            <td>2023-06-01</td>
                            <td>XYZ</td>
                         </tr>
                         <tr>
                            <th scope="row">2</th>
                            <td>0121</td>
                            <td>Admin</td>
                            <td>2023-06-01</td>
                            <td>XYZ</td>
                         </tr>
                         <tr>
                            <th scope="row">3</th>
                            <td>0121</td>
                            <td>Employee</td>
                            <td>2023-06-01</td>
                            <td>XYZ</td>
                         </tr>
                         <tr>
                            <th scope="row">4</th>
                            <td>0121</td>
                            <td>General</td>
                            <td>2023-06-01</td>
                            <td>XYZ</td>
                         </tr>
                       
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>